<%= form_with model: @event, class:"row g-3", local: true do |f| %>
  <div class="col-md-2">
    <%= f.date_field :event_date, placeholder: "Event date", class: "form-control" %>
  </div>
  <div class="col-md-10">
    <%= f.text_field :event_name, placeholder: "Event name", class: "form-control" %>
    <%= f.number_field :user_id, id: :event_user_id, value: current_user.id, class: "form-control", type: :hidden %>
  </div>
  <div class="col-12">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
