<h1>Current Events:</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.event_name, event_path(event)%>
    </li>
    <li>
      <%= event.event_date %>
    </li>
    <li>
      <%= event.creator.email %>
    </li>
    <li>
      <%= event.creator.id %>
    </li>
    <li>
      <%= event.id %>
    </li>
    <li>
      <% if user_signed_in? %>
        <% @id = event.id %>
        <%= render 'event_attendees/form' %>
      <% end %>
    </li>
  <% end %>
</ul>
