<%= link_to new_event_path, class: "navbar-item" do %>  
  <h3 class="title is-5">Create new event</h3>
<% end %>

<h1>Current Events:</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.event_name, event_path(event)%>
    </li>
    <li>
      <%= event.event_date %>
    </li>
    <li>
      <%= event.creator.email %>
    </li>
  <% end %>
</ul>

<br/>

  <% if user_signed_in? %>

    <h1>Current Users events:</h1>
    <ul>
      <% @events.each do |event| %>
        <% if current_user.id == event.user_id %>
        <li>
          <%= link_to event.event_name, event_path(event)%>
        </li>
        <li>
          <%= event.event_date %>
        </li>
        <li>
          <%= event.creator.email %>
        </li>
        <% end %>
      <% end %>
    </ul>
              
    <p class="control"> 

      <%= link_to current_user.email, edit_user_registration_path, class: "button is-danger" %>
    </p>

    <p class="control">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-danger" %>
    </p>

  <% else %>

    <p class="control"> 
      <%= link_to "Log In", new_user_session_path, class: "button is-danger" %>
    </p>

    <p class="control"> 
      <%= link_to "Sign Up", new_user_registration_path, class: "button is-danger" %>
    </p>

  <% end %>
