<%= link_to new_event_path, class: "navbar-item" do %>  
  <h3 class="title is-5">Create new event</h3>
<% end %>
<h1>Current Events:</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.event_name %>
    </li>
    <li>
      <%= event.event_date %>
    </li>
  <% end %>
</ul>

<br/>

<h1>My events:</h1>
<p><%= current_user.email%></p>
<p><%= @event.user_id%></p>
<ul>
  <% @events.each do |event| %>
    <%= link_to event.event_name, events_path(event)%>
  <% end %>
</ul>
