<h1 class="text-primary py-2">Upcoming Events:</h1>
  <% @events.past.each do |event| %>
    <div class="card my-2">
      <div class="card-header">
        <%= event.event_date %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= link_to event.event_name, event_path(event)%></p>  
          <% if user_signed_in? %>       
          <footer class="blockquote-footer"><cite title="Source Title"><%= event.creator.email %></cite></footer>
          <% end %>
        </blockquote>
      </div>

      <div  class="card-footer">
        <% if user_signed_in? %>
          <% @id = event.id %>
          <%= render 'event_attendees/form' %>
        <% end %>
      </div> 
    </div>
  <% end %>

  <h2 class="text-secondary py-2">Past Events:</h2>

<% @events.upcoming.each do |event| %>
    <div class="card my-2">
      <div class="card-header">
        <%= event.event_date %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= link_to event.event_name, event_path(event)%></p>
          <% if user_signed_in? %> 
          <footer class="blockquote-footer"><cite title="Source Title"><%= event.creator.email %></cite></footer>
          <% end %> 
        </blockquote>
      </div>

      <div  class="card-footer">
        <% if user_signed_in? %>
          <% @id = event.id %>
          <%= render 'event_attendees/form' %>
        <% end %>
      </div> 
    </div>
  <% end %>